{% load static %}
{% include 'search_form.html' %}
<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            margin: 0; 
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url("{% static 'images/grass-border-vector-illustration_433751-81.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }

        h1 {
            font-family: 微軟正黑體;
        }
    </style>
</head>
<body>
    <h1>11056050 陳一吉</h1>
    {% if request.user.is_authenticated %}
        <p>Welcome, {{ request.user.username }}</p>
    {% endif %}
</body>
</html>
